/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2019, 9:16:32 PM
    Author     : Nisanth Kumar
*/
body {
    background-color: #fff !important;
}
img.media-object {
    border-radius: 0;
}
.not-visible{
    display: none;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

/* Transparent Overlay */
/*.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

 :not(:required) hides these rules from IE9 and below 
.loading:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
*/

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

/*@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}*/
.progress {
    display: flex;
    height: .8rem;
  
    width: 21%;
    z-index: 99;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.progress-bar {
    
    background-color: #5fd055;
  
    height: 100%;
}
.progress-bar-striped {
   
    background-size: .4rem 1rem;
}
#fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}

#loader-modal {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 64px;
    height: 64px;
    padding: 12px;
    border: 3px solid #ababab;
    box-shadow: 1px 1px 10px #ababab;
    border-radius: 20px;
    background-color: white;
    z-index: 1002;
    text-align: center;
    overflow: hidden;
}
#app {
    min-height: 300px;
}
.my-visa {
    padding-left: 15px !important;
}
section.search input:focus {
    outline: 0;
    box-shadow: none;
}
.left-sidebar .panel-body ul li.active a span.id-ac, .left-sidebar .panel-body ul li a span.id-ac {
    font-size: 12px !important;
}
section.deals h2{
    font-size: 18px !important;
}
section.deals{
    min-height: 280px;
    line-height: 25px;
}
.right-sidebar {
    min-height: 280px;
}
section.deals ol {
    list-style: decimal;
}
section.deals strong {
    margin: 15px 0 5px 0;
    display: block;
}
section.banner.inner-payment h2{
    font-weight: bold;
}
.no_pic {
    border: 1px solid #fafafa;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 100px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b7c4ee;
}
.slick-slide img, .slick-slide.slick-current.slick-center img {
    opacity: 0;
}
.slick-slide {
    text-align: center;
    position: relative;
}
.chat {
  border-radius: 5px 5px 0 0;
  padding: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #888;
  z-index: 100;
}
.connect-links input {
    border: 0;
    border-bottom: 1px solid #91abff;
    width: 50%;
}
.connect-links button {
    width: 50%;
}
.doc-list:hover {
  /*box-shadow: 0 0 11px rgba(33,33,33,.2); */
  /*border-left: 5px solid #4f6dce;*/
  
}
.dashboard-wrap .doc-list {
    cursor: pointer;
    padding: 9px 32px 15px;
}
.desc-color {
    padding: 0px 27px 0 42px; 
    font-size: 10px;
    margin-bottom: 0;
    color: #666;
    width: 100%;
    text-align: justify;
}
.item-content p {
    text-align: justify;
}
.more-stories strong, ol strong {
    display: inline !important;
}
a.cntuemargin {
    margin: 50px !important;
}
span.sm-desc {
    padding-left: 0 !important;
    text-align: justify;
}
.plus-minus {
    font-weight: bold;
    height: 28px;
    padding: 0 !important;
    width: 28px !important;
    position: relative;
}
.content-tabs p {
    text-align: justify;
    margin-bottom: 5px !important;
}
.content-tabs ul li {
    margin-bottom: 5px;
}
.dropdown-menu.show {
    right: 0px !important;
    left: auto;
}
span.up-warning {
    display: inline-block;
    background: #FA8072;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 23px;
}
.main-nav ul li.active a {
    font-weight: bold !important;
}
.main-nav ul li.active a:hover {
    color: #fff;
}
button.btn.btn-primary.dropdown-toggle img {
    margin-left: 15px !important;
    margin-right: 0px !important;
}
.social-head {
    margin: 25px 0 !important;
}
.owl-carousel .owl-item img {
    height: 162px;
}
.up-btn {
    background-color: #eaeeff;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
}
.Uploaded{
   background-color: #2fc394;
}
.Uploaded label.up-doc {
   color: #fff;
}
.Uploaded img {
   display: none;
}
.tab1 li {
    width: 18% !important;
}
ul.tab1 li:before {
    left: 58px !important;
}
.dashboard-wrap .doc-col-2 {
    flex-direction: row-reverse;
}

p.dir {
    display: inline-block;
    padding: 7px 12px;
    background: #6483e9;
    color: #fff !important;
    border-radius: 5px;
    text-decoration: none !important;
    text-align: left !important;
  
    font-size: 15px;
}
a.btn.btn-light {
    border-radius: 100px;
    border: 1px solid #ddd;
}
@media screen and (max-width: 767px) {
.popus .modal-dialog {
    max-width: 92%;
    margin: 1.75rem auto;
    border: 0;
}
  
    .dos-name a {
        font-size: 14px;
    }
    ul.tab1 li:before {
    left: 66px!important;
}
.p-47 {
    padding-left: 15px;
    padding-right: 15px;
}
.dashboard-wrap.right-sidebar#document-listing .doc-cols {
    flex: 0 0 75%;
    max-width: 75%;
}
div#file-upload .file-show .col-md-12.col-sm-10.col-9{
  flex: 0 0 100%;
    max-width: 100%;
}
div#file-upload .doc-list.up-doc-file {
    cursor: pointer;
    padding: 9px 0px 15px;
}
.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #4f6dce !important;
    border-color: #4f6dce !important;
    border:0 !important;
    border-radius: 100px;
}
}


@media(max-width: 575px){
  .dashboard-wrap.right-sidebar#document-listing .doc-cols {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 5px;
}
 .dashboard-wrap.right-sidebar#document-listing .doc-col-2 {
    flex: 0 0 100%;
    max-width: 100%;
    top: 0;
}
p.dir {
 
    font-size: 14px;
}
div#file-upload .doc-list.add-file.file-show.mt-2 .col-4 {
    padding-left: 18px !important;
}
}
@media (max-width: 435px){
.doc-col-2 {
      padding-right: 15px;
    padding-left: 15px;

}
div#file-upload .doc-list.add-file.file-show.mt-2 .col-4 {
    order: 2;
    flex: 0 0 100%;
    max-width: 100%;
        text-align: center;
            margin-top: 10px;
  
}
div#file-upload .doc-list.add-file.file-show.mt-2 .col-8 {
    order: 1;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center !important;
    justify-content: space-between;
    display: flex;
}




}

.dasboard-detail-wrap {
    min-height: 400px;
}