/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2019, 9:16:32 PM
    Author     : Nisanth Kumar
*/
body {
    background-color: #fff !important;
}
img.media-object {
    border-radius: 0;
}
.not-visible{
    display: none;
}
#fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}

#loader-modal {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 64px;
    height: 64px;
    padding:30px 15px 0px;
    border: 3px solid #ababab;
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;
    z-index: 1002;
    text-align:center;
    overflow: auto;
}
#app {
    min-height: 300px;
}
.my-visa {
    padding-left: 15px !important;
}
section.search input:focus {
    outline: 0;
    box-shadow: none;
}
.left-sidebar .panel-body ul li.active a span.id-ac, .left-sidebar .panel-body ul li a span.id-ac {
    font-size: 12px !important;
}
section.deals h2{
    font-size: 18px !important;
}
section.deals{
    min-height: 280px;
    line-height: 25px;
}
.right-sidebar {
    min-height: 280px;
}
section.deals ol {
    list-style: decimal;
}
section.deals strong {
    margin: 15px 0 5px 0;
    display: block;
}
section.banner.inner-payment h2{
    font-weight: bold;
}
.no_pic {
    border: 1px solid #fafafa;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 100px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b7c4ee;
}
.slick-slide img, .slick-slide.slick-current.slick-center img {
    opacity: 0;
}
.slick-slide {
    text-align: center;
    position: relative;
}
.chat {
  border-radius: 5px 5px 0 0;
  padding: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #888;
  z-index: 100;
}
.connect-links input {
    border: 0;
    border-bottom: 1px solid #91abff;
    width: 50%;
}
.connect-links button {
    width: 50%;
}
.doc-list:hover {
  /*box-shadow: 0 0 11px rgba(33,33,33,.2); */
  /*border-left: 5px solid #4f6dce;*/
  
}
.desc-color {
    padding: 0px 27px 0 42px; 
    font-size: 10px;
    margin-bottom: 0;
    color: #666;
    width: 100%;
    text-align: justify;
}
.item-content p {
    text-align: justify;
}
.more-stories strong, ol strong {
    display: inline !important;
}
a.cntuemargin {
    margin: 50px !important;
}
span.sm-desc {
    padding-left: 28px !important;
    text-align: justify;
}
.plus-minus {
    font-weight: bold;
    height: 28px;
    padding: 0 !important;
    width: 28px !important;
    position: relative;
}
.content-tabs p {
    text-align: justify;
    margin-bottom: 5px !important;
}
.content-tabs ul li {
    margin-bottom: 5px;
}
.dropdown-menu.show {
    right: 0px !important;
    left: auto;
}
span.up-warning {
    display: inline-block;
    background: #FA8072;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 23px;
}
.main-nav ul li.active a {
    font-weight: bold !important;
}
@media screen and (max-width: 767px) {
    .dos-name a {
        font-size: 14px;
    }
}